* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.text-conteiner {
    display: flex;
    margin: auto;
    width: 500px;
    height: 200px
}
.text-area:focus {
    caret-color: black;
}
.keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 50px;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    padding: 15px;
    cursor: pointer;
}
.keyboard-key:hover,
.keyboard-key.active {
    background-color: rgb(225, 206, 246);
    border: 1px solid rgb(225, 206, 246);
}