* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
}
.section {
    padding: 0px 40px;
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header {
    background: #FFFFFF;
}
.burger {
    display: none;
}
.logo {
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
}
.logo1part {
    width: 184px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    margin-bottom: 10px;
}
.logo2part {
    width: 179px;
    height: 15px;
    padding-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    margin: 0;
}
.nav {
    margin-top: 46px ;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav-list {
    height: 27px;
    display: flex;
    list-style: none;
    margin: 0;
}
.nav-item {
    display: flex;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    padding-left: 35px;
}
.nav-link {
    color:  #545454;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
    color: #292929;
    transition: 1s;
}
.nav-link:active {
    text-decoration: underline solid 3px #F1CDB3;
    color: #292929;
    transition: 1s;
}
#pets-0ur {
    border-bottom: 0.1875rem solid #f1cdb3;
    color: #292929;
}
#our-friends {
    background: #F6F6F6;
}
#our-friends- {
    padding: 0;
}
.friends-section {
    display: flex;
    flex-direction: column;
}
.friends-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 80px;
    margin-bottom: 60px;
}
.pets-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.pets-card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0px 20px 30px 20px;
}
.pets-card:hover {
    animation: bounce 1s;
}
.pets-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-top: 30px;
    margin: 0;
}
.pets-card-button {
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background:#FAFAFA;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.pets-card-button:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 1s;
}
.navigation {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pets_button_arrow {
    border: 2px solid #CDCDCD;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    margin: 0px 10px;
    cursor: pointer;
}
#center_arrow {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    color:#292929;
}
#right_arrow {
    border: 2px solid #F1CDB3;
    color: #292929;
}
#right_arrow:hover, #right_arrow2:hover {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    color:#292929;
    transition: 1s;
}
#right_arrow2 {
    border: 2px solid #F1CDB3;
    color: #292929;
}
.footer {
    background-image: url(/shelter/assets/png/start-screen-gradient-background.png), linear-gradient(90deg, #5B483A 0%, #262425 100%, #211F20 100%);
    background-size: cover;
}
.ft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 40px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.left-content-footer {
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 234px;
    margin-right: 160px;
}
.right-content-footer {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 234px;
    margin-right: 160px;
}
.footer-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 56px;
    margin-bottom: 0;
}
.footer-text_first, .footer-text_second {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-text_first {
    margin-top: 40px;
    margin-bottom: 0;
}
.footer-text_second {
    margin-top: 34px;
    margin-bottom: 0;
}
.footer-icon {
    padding-right: 20px;
}
.footer-img {
    margin-top: 40px;
    display: flex;
}
.footer-text_first:hover {
    color:#f1e9e3;
    transition: 1s;
}
.footer-text_second:hover {
    color:#f1e9e3;
    transition: 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@media (max-width: 1100px) {
    .ft {
        flex-direction: column;
        align-items: center;
    }
    .footer-img {
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        width: 40%;
        height: 50%;
    }
}
@media (max-width: 768px) {
    .section {
        padding: 0px 30px;
        max-width: 768px;
    }
    #pets-0ur {
        color: #CDCDCD;
    }
    .nav-bar {
        padding: 30px 20px 0px 20px;
        align-items: center;
    }
    .nav-list {
        display: none;
        transform: translateX(-150%);
        transition: all 1s ease-in-out;
    }
    .burger {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .burger.active {
        transform: rotate(90deg);
    }
    .bg-line {
        width: 30px;
        height: 2px;
        background-color: #f1cdb3;
        margin-top: 8px;
    }
    .nav-list.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #292929;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 168px 0px;
        transition: all 1s ease-in-out;
    }
    .nav-link.active {
        margin: 30px 38px;
        color: #CDCDCD;
        font-size: 32px;
        line-height: 51px;
    }
    .ft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        margin: 0px 64px;
        padding: 0;
    }
    .left-content-footer, .right-content-footer {
        height: auto;
    }
    .left-content-footer {
        margin-right: 60px;
    }
    .right-content-footer {
        margin-right: 0px;
    }
    .footer-title {
        margin-top: 30px;
    }
    .footer-img {
        margin-top: 65px;
    }
    .footer-text_first, .footer-text_second {
        align-items: center;
    }
    #scarlet, #freddie {
        display: none;
    }
    /* .page_one {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } */
    .friends-title {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .navigation {
        margin-top: 10px;
        margin-bottom: 76px;
    }
    /* .footer-text_first, .footer-text_second {
        
    } */
}
    @media (max-width: 320px){
        .section {
            padding: 0;
            margin: 0;
            max-width: 320px;
        }
        #pets-0ur {
            color: #CDCDCD;
        }
        .nav-bar {
            padding: 30px 20px 0px;
            align-items: center;
        }
        .nav-list {
            display: none;
        }
        .burger {
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease-in-out;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .burger.active {
            transform: rotate(90deg);
        }
        .bg-line {
            width: 30px;
            height: 2px;
            background-color: #f1cdb3;
            margin-top: 8px;
        }
        .nav-list.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #292929;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 168px 0px;
            transition: all 1s ease-in-out;
        }
        .nav-link.active {
            margin: 30px 38px;
            color: #CDCDCD;
            font-size: 32px;
            line-height: 51px;
        }
        .friends-title {
            font-size: 25px;
            letter-spacing: 0.06em;
            line-height: 32px;
            text-align: center;
        }
        #timmy, #sophia, #charly {
            display: none;
        }
        .pets_button_arrow {
            margin: 5px;
        }
        .ft {
            padding: 0px 21px;
        }
        .footer-content {
            flex-direction: column;
        }
        .footer-title {
            width: 278px;
            height: 64px;
            line-height: 32px;
            font-size: 25px;
            text-align: center;
        }
        .left-content-footer {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
        .right-content-footer {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
        .footer-text_second {
            margin-top: 40px;
        }
        .footer-img {
            margin-top: 40px;
            width: 260px;
            height: 269px;
        }
    }