* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
}
#start-screen {
    background: repeat center url(/shelter/assets/png/start-screen-gradient-background.png), url(/shelter/assets/jpg/start-screen-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; 
    background-size: 100%;
    background-clip: clip !important;
    background-repeat: repeat;
}
.section {
    padding: 0px 40px;
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
}
.logo1part {
    width: 184px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
    margin-bottom: 10px;
}
.logo2part {
    width: 179px;
    height: 15px;
    padding-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.nav-list {
    height: 27px;
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 46px ;
}
.nav-item {
    display: flex;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    padding-left: 35px;
}
.nav-link {
    color: #CDCDCD;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
    color: #FAFAFA;
    transition: 1s;
}
.nav-link:active {
    text-decoration: underline solid 3px #F1CDB3;
    color: #FAFAFA;
    transition: 1s;
}
#about-link {
    text-decoration: underline solid 3px #F1CDB3;
    color: #FAFAFA;
}
.start-screen {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    height: 728px;
}
.left-content {
    margin-top: 163px;
    display: flex;
    flex-direction: column;
}
.screen-title {
    width: 310px;
    height: 114px;
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.screen-text {
    width: 460px;
    height: 72px;
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}
.screen-button {
    display: flex;
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
    margin-bottom: 243px;
    cursor: pointer;
    transition-duration: 1s;
}
.screen-button:hover {
    background: #FDDCC4;
    animation: bounce 1s;
    transition: 1s;
}
.right-content {
    padding-left: 42px;
}
#about {
    background-color: #FFFFFF;
}
.about-section {
    padding: 80px 0px 100px 0px;
    display: flex;
    flex-direction: row;
}
.about-content {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 14px;
    margin: 0;
}
.about-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    height: 90px;
    margin: 0;
}
.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 430px;
    height: 96px;
    margin: 0;
    margin-top: 25px;
}
#pets {
    background: #F6F6F6;
}
.pets-section {
    padding: 80px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pets-title {
    margin-top: 0;
    margin-bottom: 60px;
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.pets-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.pets_button_arrow {
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    color: #292929;
    background: #F6F6F6;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.pets_button_arrow:hover {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    transition: 1s;
}
#left_arrow {
    margin-right: 53px;
}
#right_arrow {
    margin-left: 53px;
}
.pets-card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.pets-card:hover {
    animation: bounce 1s;
}
#center-pets {
    margin: 0px 90px 0px 90px;
}
.pets-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-top: 30px;
    margin: 0;
}
.pets-card-button {
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background:#FAFAFA;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.pets-card-button:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 1s;
}
.pets-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
    cursor: pointer;
}
.pets-button:hover {
    background: #FDDCC4;
    animation: bounce 1s;
    transition: 1s;
}
#help {
    background: #FFFFFF;
}
.help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 100px;
}
.help-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding-bottom: 5px;
}
.help-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.help-item {
    margin: 55px 60px 0px 60px;
    display: flex;
    height: 113px;
    flex-direction: column;
    align-items: center;
}
.help-img:hover {
    animation: spin 5s linear 0s infinite;
}
.help-item-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 0;
}
#donation {
    background: #F6F6F6;
}
.donation-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px 142px 100px 142px;
}
.donation-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.donation-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 20px 0px;
}
#card-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    white-space: nowrap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
}
.card-img {
    padding-right: 15px;
}
.donation-text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin: 0;
}
.footer {
    background: repeat center url(../shelter/assets/jpg/footer-background.jpg), url(/shelter/assets/png/footer-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-size: 100%;
    background-clip: clip !important;
    background-repeat: repeat;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
}
.left-content-footer {
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 234px;
    margin-right: 160px;
}
.right-content-footer {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 234px;
    margin-right: 160px;
}
.footer-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 56px;
    margin-bottom: 0;
}
.footer-text_first, .footer-text_second {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
}
.footer-text_first {
    margin-top: 40px;
    margin-bottom: 0;
}
.footer-text_second {
    margin-top: 34px;
    margin-bottom: 0;
}
.footer-icon {
    padding-right: 20px;
}
.footer-img {
    margin-top: 40px;
}
.footer-text_first:hover {
    color:#f1e9e3;
    transition: 1s;
}
.footer-text_second:hover {
    color:#f1e9e3;
    transition: 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}