* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
}
#start-screen {
    /* background-image: ; */
    background-image: url(/shelter/assets/png/start-screen-gradient-background.png), linear-gradient(90deg, #5B483A 0%, #262425 100%, #211F20 100%);
    background-size: cover;
    /* background-position: center; */
    /* background-size: 100%;
    background-clip: clip !important;
    background-repeat: repeat; */
}
.section {
    padding: 0px 40px;
    max-width: 1280px;
    margin: 0 auto;
}
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
}
.logo1part {
    width: 184px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
    margin-bottom: 10px;
}
.logo2part {
    width: 179px;
    height: 15px;
    padding-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.burger {
    display: none;
}
.nav-list {
    height: 27px;
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 46px;
}
.nav-link {
    display: flex;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    margin-left: 35px;
    color: #CDCDCD;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
    color: #FAFAFA;
    transition: 1s;
}
.aactive {
    border-bottom: 0.1875rem solid #f1cdb3;
}
.start-screen {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    height: 728px;
}
.left-content {
    margin-top: 163px;
    display: flex;
    flex-direction: column;
}
.screen-title {
    width: 310px;
    height: 114px;
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.screen-text {
    width: 460px;
    height: 72px;
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}
.screen-button {
    display: flex;
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
    margin-bottom: 243px;
    cursor: pointer;
    transition-duration: 1s;
}
.screen-button:hover {
    background: #FDDCC4;
    animation: bounce 1s;
    transition: 1s;
}
.right-content {
    padding-left: 42px;
}
#about {
    background-color: #FFFFFF;
}
.about-section {
    padding: 80px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-content {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 14px;
    margin: 0;
}
.about-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    height: 90px;
    margin: 0;
}
.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 430px;
    height: 96px;
    margin: 0;
    margin-top: 25px;
}
#pets {
    background: #F6F6F6;
}
.pets-section {
    padding: 80px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pets-title {
    margin-top: 0;
    margin-bottom: 60px;
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.slider-wrapper {
    overflow: hidden;
}
/* .slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
} */
.pets-slider {
    /* overflow: hidden;
    width: calc(100% - 100px);
    justify-content: space-between; */
    transition: transform 0.6s ease;
    width: 300% - 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
}
.pets_button_arrow {
    /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; */
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    color: #292929;
    background: #F6F6F6;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* position: absolute; */
    
    
}
.pets_button_arrow:hover {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    transition: 1s;
}
#left_arrow {
    margin-right: 8px;
}
#right_arrow {
    margin-left: 8px;
}
.pets-card {
    /* width: calc(100% / 3);
    flex-shrink: 0; */
    margin: 0px 45px;
    width: calc(100% / 3);
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
/* .pets-card-img {
    width: 270px;
    height: 270px;
} */
.pets-card:hover {
    animation: bounce 1s;
}
/* #center-pets {
    margin: 0px 90px 0px 90px;
} */
.pets-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-top: 30px;
    margin: 0;
}
.pets-card-button {
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background:#FAFAFA;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.pets-card-button:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 1s;
}
.pets-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
    cursor: pointer;
}
.pets-button:hover {
    background: #FDDCC4;
    animation: bounce 1s;
    transition: 1s;
}
#help {
    background: #FFFFFF;
}
.help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 45px;
}
.help-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding-bottom: 60px;
}
.help-list {
    padding: 0 5.4375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7.4375rem;
}
/* .first-line, .second-line, .third-line {
    display: inline-grid;
    flex-direction: row;
    flex-wrap: wrap;
} */
.help-item {
    /* margin: 55px 60px 0px 60px;*/
    margin-bottom: 55px;
    display: flex;
    height: 113px;
    flex-direction: column;
    align-items: center;
}
.help-img:hover {
    animation: spin 5s linear 0s infinite;
}
.help-item-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 0;
}
#donation {
    background: #F6F6F6;
}
.donation-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 142px 100px 142px;
}
.donation-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.donation-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 20px 0px;
}
#card-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    white-space: nowrap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
}
.card-img {
    padding-right: 15px;
}
.donation-text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin: 0;
}
.footer {
    background-image: url(/shelter/assets/png/start-screen-gradient-background.png), linear-gradient(90deg, #5B483A 0%, #262425 100%, #211F20 100%);
    background-size: cover;
}
.ft {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 0px 40px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.left-content-footer {
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 234px;
    margin-right: 160px;
}
.right-content-footer {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 234px;
    margin-right: 160px;
}
.footer-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 56px;
    margin-bottom: 0;
}
.footer-text_first, .footer-text_second {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-text_first {
    margin-top: 40px;
    margin-bottom: 0;
}
.footer-text_second {
    margin-top: 34px;
    margin-bottom: 0;
}
.footer-icon {
    padding-right: 20px;
}
.footer-img {
    margin-top: 40px;
}
.footer-text_first:hover {
    color:#f1e9e3;
    transition: 1s;
}
.footer-text_second:hover {
    color:#f1e9e3;
    transition: 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@media (max-width: 768px) {
    .section {
        padding: 0;
        margin: 0;
        max-width: 768px;
    }
    .nav-bar {
        padding: 0px 30px;
    }
    .nav-list {
        display: none;
        transform: translateX(-150%);
        transition: all 1s ease-in-out;
    }
    .burger {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .burger.active {
        transform: rotate(90deg);
    }
    .bg-line {
        width: 30px;
        height: 2px;
        background-color: #f1cdb3;
        margin-top: 8px;
    }
    .nav-list.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #292929;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 168px 0px;
        transition: all 1s ease-in-out;
    }
    .nav-link.active {
        margin: 30px 38px;
        color: #CDCDCD;
        font-size: 32px;
        line-height: 51px;
    }
    .start-screen {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1015px;
    }
    .left-content {
        margin-top: 0px;
    }
    .right-content {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: flex-start;
    }
    .screen-button {
        margin-bottom: 100px;
        margin-left: 126px;
    }
    .start-screen_puppy {
        width: 569px;
        height: 593px;
        margin-left: 169px;
    }
    .about-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-content {
        padding: 0px 169px;
    }
    .about-text {
        height: auto;
    }
    .about-img {
        width: 300px;
        height: 408px;
        margin-top: 80px;
    }
    .pets-card {
        margin: 0px 40px 0px 40px;
        width: calc(100% / 2);
    }
    #last-pets {
        display: none;
    }
    #left_arrow {
        margin-right: 12px;
    }
    #right_arrow {
        margin-left: 12px;
    }
    .help-list {
        padding: 0 39px 0 39px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 60px;
    }
    /* .first-line, .second-line, .third-line {
        display: flex;
        flex-direction: row;
    } */
    .help-item {
        width: 170px;
        height: 113px;
        margin-bottom: 55px;
    }
    .help-item-text {
        white-space: nowrap;
        font-size: 15px;
    }
    .donation-section {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .donation-content {
        margin: 80px 194px 60px 194px;
    }
    .dnt-img {
        margin-bottom: 100px;
    }
    .ft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        margin: 0px 64px;
    }
    .left-content-footer, .right-content-footer {
        height: auto;
    }
    .left-content-footer {
        margin-right: 60px;
    }
    .right-content-footer {
        margin-right: 0px;
    }
    .footer-title {
        margin-top: 30px;
    }
    .footer-img {
        margin-top: 65px;
    }
    .footer-text_first, .footer-text_second {
        align-items: center;
    }
}
@media (max-width: 320px) {
    .section {
        padding: 0p;
        margin: 0;
        max-width: 320px;
    }
   .logo {
        margin: 0;
    }
    .start-screen {
        height: auto;
    }
    .nav-bar {
        padding: 30px 20px 0px 20px;
        align-items: center;
    }
    .nav-list {
        display: none;
        transform: translateX(-150%);
        transition: all 1s ease-in-out;
    }
    .burger {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .burger.active {
        transform: rotate(90deg);
    }
    .bg-line {
        width: 30px;
        height: 2px;
        background-color: #f1cdb3;
        margin-top: 8px;
    }
    .nav-list.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #292929;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 168px 0px;
        transition: all 1s ease-in-out;
    }
    .nav-link.active {
        margin: 30px 38px;
        color: #CDCDCD;
        font-size: 32px;
        line-height: 51px;
    }
    .left-content {
        align-items: center;
    }
    .screen-title {
        font-size: 25px;
        width: 200px;
        height: 64px;
        letter-spacing: 0.06em;
        line-height: 32px;
        text-align: center;
    }
    .screen-text {
        text-align: center;
        width: 300px;
        height: 96px;
    }
    .screen-button {
        margin: 0;
    }
    .start-screen_puppy {
        width: 260px;
        height: 271.77px;
        margin-top: 105px;
        margin-left: 50px;
    }
    .about-section {
        padding: 42px 0px 42px 0px;
    }
    .about-content {
        padding: 0;
        padding-bottom: 42px;
        text-align: justify;
    }
    .about-title {
        font-size: 25px;
        width: 250px;
        height: 64px;
        text-align: center;
        line-height: 32px;
        margin: 0px 10px;
    }
    .about-text {
        width: 270px;
    }
    .about-img {
        margin: 0;
        width: 260px;
        height: 353.6px;
    }
    .pets-title {
        font-size: 25px;
        margin: 42px 0px;
        width: 290px;
        height: 64px;
        line-height: 32px;
    }
    /* #center-pets {
        display: none;
    } */
    .pets-section {
        padding: 0;
    }
    .slider {
        flex-direction: column;
        width: 100%;
    }
    .slider-wrapper {
        overflow: hidden;
    }
    .pets-slider {
        /* height: calc(100% / 8); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: scroll;
        margin-bottom: 20px;
      }
      
      .pets-card {
        margin: 0 10px;
        width: 80%;
        max-width: 280px;
      }
    .pets_button_arrow {
        order: 2;
    }
    #left_arrow {
        margin-right: 40px;
    }
    #right_arrow {
        margin-left: 40px;
    }

    .pets-button {
        margin-bottom: 42px;
    }
    .help-section {
        margin: 42px 0px 12px 0px;
        padding: 0;
    }
    .help-title {
        font-size: 25px;
        height: 64px;
        padding: 0;
        margin-bottom: 42px;
        line-height: 32px
    }
    .help-list {
        padding: 0px 5px;
        margin: 0px 10px;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
    }
    .help-item {
        width: 130px;
        height: 87px;
        margin-bottom: 30px;
    }
    .help-img {
        width: 50px;
        height: 50px;
    }
    .help-item-text {
        margin-top: 20px;
        line-height: 17px;
    }
    .donation-content {
        margin: 42px 0px;
        width: 300px;
        align-items: center;
    }
    .donation-title {
        font-size: 25px;
        height: 64px;
        text-align: center;
        line-height: 32px;
    }
    .donation-subtitle {
        white-space: nowrap;
        width: 273px;
        height: 24px;
        line-height: 24px;
        letter-spacing: 0;
    }
    #card-number {
        width: 281px;
        height: 43px;
        font-size: 15px;
    }
    .donation-text {
        text-align: justify;
        margin: 0px 10px;
    }
    .dnt-img {
        width: 260px;
        height: 135.2px;
        margin-bottom: 42px;
    }
    .ft {
        padding: 0px 21px;
    }
    .footer-content {
        flex-direction: column;
        justify-content: center
    }
    .footer-title {
        width: 278px;
        height: 64px;
        line-height: 32px;
        font-size: 25px;
        text-align: center;
    }
    .left-content-footer {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .right-content-footer {
        margin: 0 auto;
        justify-content: center;
    }
    .footer-text_second {
        margin-top: 40px;
    }
    .footer-img {
        margin-top: 40px;
        width: 260px;
        height: 269px;
    }
}